<h2>Author</h2>
Vu Ho

<H1>Data Science Tools and Ecosystem</H1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
<ul>
<li>List popular languages for Data Science</li>
<li>Libraries are used by Data Scientist</li>
<li>Data Science Tools</li>
<li>Expression's examples in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
<li>pandas</li>
<li>numpy</li>
<li>matplotlib</li>
<li>plotly</li>
</ol>

<table border="1">
  <tr>
  <td>Data Science Tools</td>
  </tr>
  <tr>
    <td>Jupyter Notebook</td>
  </tr>
  <tr>
    <td>TensorFlow</td>
  </tr>
  <tr>
    <td>Scikit-Learn</td>
  </tr>
  <tr>
    <td>Tableau</td>
  </tr>
  <tr>
    <td>Power BI</td>
  </tr>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335